### Ans 1

1. Lists are mutable whereas Tuples are immutable this means we can change, add, or remove elements from a list after it has      been created but it not possible in tuple.
2. Lists are defined using square brackets [] whereas tuples are defined using parentheses ().
     eg:- list =[1,2,3]  tuple=(1,2,3)
3. Tuples are faster and require less memory then lists.

### Ans2

In [1]:
l1=[1,2,3,4,5,6]
l2=[6,5,4,3,2,1]
a=len(l1)
for i in range(a):
    if l1[i]>l2[i]:
        print("L1 element value is greater than L2 element value")
    elif l1[i]<l2[i]:
        print("L1 element value is less than L2 element value")

L1 element value is less than L2 element value
L1 element value is less than L2 element value
L1 element value is less than L2 element value
L1 element value is greater than L2 element value
L1 element value is greater than L2 element value
L1 element value is greater than L2 element value

### Ans3

In [5]:
def sq_list(l):
    Sq=[]
    a=len(l)
    for i in range(a):
        Sq.insert(i,l[i]**2)
 
    d=dict(zip(l,Sq))
    return d
l=[1,2,3,4,5,6]
sq_list(l)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

### Ans4

In [9]:
def Calculator(int1,int2,op):
    op=op.upper()
    if op=="ADD":
        return int1+int2
    elif op=="SUB":
        return int1-int2
    elif op=="MUL":
        return int1*int2
    elif op=="DIV":
        return int1/int2
    else:
        print("Invalid operator")
        
print(Calculator(2,5,'AdD'))       
print(Calculator(7,1,'SuB'))

7
6

### Ans5

In [10]:
def leap_year(int1):
    
 if int1%100==0:
    if int1%400==0:
        return True
    else:
        return False
 else:
    if int1%4==0:
        return True
    else:
        return False
# to print leap year in 21th Century
for i in range(2001,2101):
   if leap_year(i)==True:
      print(i)

2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

### Ans6

In [11]:

def num_pat(index):
    index
    for i in range(index):
        for j in range(i+1):
            print(j+1,end=' ')
        print()
num_pat(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Ans7

In [12]:
def list_of_tup_to_dict(l):
    d={}
    for i in l:
        d[i[0]]=i[1]
    return d
l=[("name","Virat"),("surname","Kohli"),("yob",1986)]
list_of_tup_to_dict(l)

{'name': 'Virat', 'surname': 'Kohli', 'yob': 1986}

### Ans8

In [13]:
#This function returs the lists
def lst_Split(l):
    return [l[::2] ,l[1::2]]
#This function only displayes the lists
def lst_Split1(l):
    print("List with even index")
    print(l[::2])
    print("List with odd index")
    print(l[1::2])
l1=[0,1,2,3,4,5,6,7,8,9,10]
lst_Split1(l1)
lst_Split(l1)

List with even index
[0, 2, 4, 6, 8, 10]
List with odd index
[1, 3, 5, 7, 9]

[[0, 2, 4, 6, 8, 10], [1, 3, 5, 7, 9]]

### Ans9

In [17]:
def longest_word(str):
    l=str.split(' ')
    index=0
    Max_len=0
    for i in range(len(l)):
        if len(l[i])>Max_len:
            Max_len=len(l[i])
            index=i
    return l[index]

longest_word("Python programming is fun")

'programming'

### Ans10

In [18]:
def freq_Cal(l):
    d={}
    l2=set(l)
    for i in l2:
       d[i]=l.count(i)
    return d
l=[1, 2, 2, 3, 4, 4, 4, 5, 5] 
freq_Cal(l)

{1: 1, 2: 2, 3: 1, 4: 3, 5: 2}